<script defer src="https://um.kukie.cn/script.js" data-website-id="8fc09011-51e5-4a77-b549-fa3c86d863dc"></script>
<link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/lxgw-wenkai-screen-webfont/1.7.0/style.min.css" />

{{- if .Site.Params.background.enable }}
    {{- $bg := .Site.Params.background }}
    {{- $desktop := "" }}
    {{- $mobile := "" }}

    {{- $res := resources.Get ($bg.src_desktop | default "") }}
    {{- if $res }}
        {{- $desktop = $res.Permalink }}
    {{- else if $bg.src_desktop }}
        {{- $desktop = $bg.src_desktop }}
    {{- end }}

    {{- $res := resources.Get ($bg.src_mobile | default "") }}
    {{- if $res }}
        {{- $mobile = $res.Permalink }}
    {{- else if $bg.src_mobile }}
        {{- $mobile = $bg.src_mobile }}
    {{- end }}

    {{- if or $desktop $mobile }}
<style>
:root {
    --bg-opacity: {{ default 0.15 $bg.opacity }};
    --bg-size: {{ default "cover" $bg.size }};
    --bg-position: {{ default "center" $bg.position }};
    --bg-repeat: {{ default "no-repeat" $bg.repeat }};
    --bg-attachment: {{ default "fixed" $bg.attachment }};
    {{- if $desktop }}
    --bg-desktop: url({{ $desktop | safeCSS }});
    {{- end }}
    {{- if $mobile }}
    --bg-mobile: url({{ $mobile | safeCSS }});
    {{- end }}
}
</style>
    {{- end }}
{{- end }}